<h1>@Category</h1>
<table class="table">
    <thead>
        <tr>
            <th>Startovní číslo</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Ročník</th>
            <th>Pohlaví</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Registrations registration in Registrations)
        {
            <tr>
                <td>@registration.Id</td>
                <td>@registration.FirstName</td>
                <td>@registration.LastName</td>
                <td>@registration.Birthday</td>
                <td>@registration.Gender</td>
            </tr>
        }
    </tbody>
</table>
@code
{
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public List<Model.Registrations> Registrations { get; set; }
}